body {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  background-image: url(http://na.leagueoflegends.com/sites/default/files/upload/art/shadow_isles_1920x1080.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #333;
  margin: 20px; }

select {
  outline: none;
  margin-left: 3px;
  margin-right: 3px;
  font-family: 'Poppins', sans-serif;
  color: #333; }

.threeRows, .header > * {
  min-width: 33%;
  max-width: 33%; }

a, a:link, a:visited {
  color: #4873d6;
  text-decoration: none; }

a:hover {
  color: #1d425e; }

.header {
  background-color: rgba(29, 66, 94, 0.8);
  color: #FFF; }
  .header > * a:link, .header > * a:visited {
    color: #FFF; }

main {
  padding: 12px  3% 0 3%;
  color: #333;
  background-color: rgba(255, 255, 255, 0.98); }

.rows, .header > * {
  display: inline-table; }

.border, .nborder, .bborder, body, .button, input[type=submit] {
  border: solid #333; }

.nborder {
  border: 2px; }

.bborder, body, .button, input[type=submit] {
  border: 5px; }

.twoRows, .tier_info, .champion_info {
  min-width: 45%;
  max-width: 45%; }

.horizontallist, .header nav li {
  display: inline-block;
  list-style-image: none;
  padding-right: 5%; }

.nospaces {
  margin: 0;
  padding: 0; }

.link, .header > * a:link, .header > * a:visited, .button, input[type=submit] {
  text-decoration: none; }

.npadding {
  padding: 5px; }

.bpadding, select, .header, input, .button, input[type=submit] {
  padding: 12px; }

.bboxShadow, .wrapper {
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.75); }

.nboxShadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75); }

input {
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: #333; }

input[type=text] {
  width: 60%; }

.textShadow, .header > *, .champion_details {
  text-shadow: #030303 2px 3px 1px; }

.nborderRadius, .button, input[type=submit] {
  border-radius: 5px; }

.button, input[type=submit] {
  background-color: #1d425e;
  margin: 5px;
  cursor: pointer;
  color: #FFF; }

footer {
  margin-top: 100px;
  padding-left: 10%;
  padding-bottom: 20px;
  padding-right: 10%; }

.inline, .tier_info, .tier_info img, .champion_info {
  display: inline-table; }

.champion_info {
  display: inline-table;
  min-width: 20%;
  max-width: 20%; }

.summoner_info > * {
  display: inline-table; }

.summoner_details {
  padding-left: 10%;
  padding-right: 10%; }

.table_matches {
  width: 80%;
  border: 1px solid #000; }

.home_rows, .best_average_champ {
  min-width: 45%;
  max-width: 45%;
  display: inline-table; }

.tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7) !important; }

.tablesorter-headerDesc, .tablesorter-headerAsc {
  background-color: #398cc3; }

img {
  vertical-align: top; }

.summoner_tier {
  display: inline-table; }
  .summoner_tier > * {
    display: block; }
  .summoner_tier > table {
    display: table; }

.summoner_info_detail {
  width: 100%;
  border-radius: 7px;
  background-color: #EEE;
  padding: 5px;
  border: 1px solid #EEE; }
  .summoner_info_detail > * {
    min-width: 20%;
    max-width: 40%;
    display: inline-table; }

.summoner_icon {
  border: 1px solid #000;
  border-radius: 3px; }

.tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 18px 4px 4px;
  white-space: normal;
  cursor: pointer; }

.intervals_picker {
  padding: 15px;
  background-color: #EEE;
  border: 1px solid #DDD;
  border-radius: 7px; }
  .intervals_picker div {
    display: inline-table; }
    .intervals_picker div > * {
      display: block; }

.tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); }

.chart {
  border: 2px solid #AAA; }

.goog-tooltip {
  color: #000; }
  .goog-tooltip div {
    color: #000;
    padding: 25px !important;
    background-color: #EEE !important; }

.champion_stats {
  display: inline-table;
  max-width: 70%; }

.champion_info header {
  display: block; }

.champion_details {
  max-width: 1215px;
  border-radius: 5px;
  padding: 20px;
  color: #FFF; }
  .champion_details h1 {
    margin: 2px;
    display: inline;
    font-size: 1.7em; }
  .champion_details h2 {
    margin: 1px;
    display: inline;
    font-size: 1.3em; }

.table_statistics {
  table-layout: fixed;
  font-size: 0.8em; }

.green {
  color: #59bb5b; }

.red {
  color: #bb4d41; }

table {
  border: 1px solid #AAA;
  background-color: #FFF;
  width: 100%;
  text-shadow: none;
  font-size: 0.7em;
  border-collapse: collapse;
  text-align: center; }
  table thead tr th {
    cursor: pointer;
    margin: 0;
    color: #FFF;
    background-color: #1d425e;
    padding: 10px; }
  table tbody tr {
    border: 1px solid #DDD; }
    table tbody tr td {
      padding: 5px;
      color: #333;
      border-right: 1px solid #DDD; }
    table tbody tr td:first-child {
      text-align: left; }
  table tbody tr:nth-child(even) {
    background-color: #EEE; }

.pick_champion {
  padding-left: 10%;
  padding-right: 10%; }

.champion_info_image > * {
  display: block; }

.individual_champ {
  display: inline-block;
  margin: 10px; }
  .individual_champ a {
    display: block; }
  .individual_champ img {
    display: block; }

small {
  font-size: 0.7em; }

.summoner_nav > ul > li {
  display: inline-table;
  text-decoration: none;
  padding: 7px;
  background-color: #1d425e;
  color: #FFF;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer; }

.tab-active {
  background-color: #3d7eb9 !important;
  border: 1px solid #e3dd4b; }

/*# sourceMappingURL=style.css.map */
