{% extends "layout.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<h1>ERROR 404: NOT FOUND</h1>
<p>Ups...There has to be something to explain this...It seems that this section is not available</p>
{% endblock %}