{% extends "layout.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<h1>Summoner name not Found</h1>

<p>Please try again, we couldn't find that summoner</p>
{% endblock %}